
  <section class="hero">
    <img src="/images/vehicles/delorean-tn.jpg" alt="DMC Delorean">
    <div class="hero-content">
      <h1>DMC Delorean</h1>
      <p>3 Cup holders, Superman doors, Fuzzy dice!</p>
      <img src="/images/site/own_today.png" alt="Own Today Button" class="own-button">
    </div>
  </section>
  <section class="featured">
    <h2>Featured Vehicles</h2>
    <div class="car-grid">
      <div><img src="/images/vehicles/hummer-tn.jpg" alt="Featured Vehicle 1"></div>
      <div><img src="/images/vehicles/camaro-tn.jpg" alt="Featured Vehicle 2"></div>
      <div><img src="/images/vehicles/escalade-tn.jpg" alt="Featured Vehicle 3"></div>
    </div>
  </section>
  <section class="upgrades">
    <h2>Delorean Upgrades</h2>
    <div class="upgrade-grid">
      <div><img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers"></div>
      <div><img src="/images/upgrades/flame.jpg" alt="Flame Decals"></div>
      <div><img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor"></div>
      <div><img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps"></div>
    </div>
  </section>
  <section class="reviews">
    <h2>DMC Delorean Reviews</h2>
    <ul>
      <li>"So fast it’s almost like travelling in time." (4/5)</li>
      <li>"Coolest ride on the road." (4/5)</li>
      <li>"I'm feeling McFly!" (5/5)</li>
      <li>"The most futuristic ride of our day." (4.5/5)</li>
      <li>"80's livin and I love it!" (5/5)</li>
    </ul>
  </section>