<h1><%= title %></h1>

<%- messages() %>

<div class="management-actions">
    <h2>Inventory Management</h2>
    <ul>
        <li>
            <a href="/inv/addClassification">Add New Classification</a>
        </li>
        <li>
            <a href="/inv/addInventory">Add New Inventory</a>
        </li>
    </ul>
</div>