
<% if (title) { %>
<h1><%= title %></h1>
<% } else { %>
<h1>Server Error</h1>
<% } %>

<% if (message) { %>
<p class="notice"><%= message %></p>
<% } else { %>
<p class="notice">Oh no! Something went wrong on our end.</p>
<% } %>

<p>Please try a different route or return <a href="/">home</a>.</p>